{% extends 'base.html' %} 

{% load static %}

{% block content %}







































      <div class="feeds-content dark-mode-2">
        <div class="feeds-header dark-mode-1">
          <div class="header-top border">
          <form method="POST">
          {% csrf_token %}
            <h4 style="margin-left: 5rem" class="light-text">Do you really want to delete this?</h4>
            <button>Delete</button>

          </div>
          
      
       
          <div class="header-post dark-mode-1 border">


          






  
            
 

          </div>
        </div>


        

        






  

    





{% endblock %}


