{% extends 'base.html' %} 

{% load static %}


{% block content %}





<!-- feeds content -->
      <div class="feeds-content dark-mode-2">



        <div  class="feeds-header dark-mode-1">
          <div class="header-top border">
            <h4 class="light-text">Home</h4>
          </div>
        </div>


        <div class="posts dark-mode-1">
        {% for post_item in post_items %}
          <div class="post border">
            <div class="user-avatar">

               {% if post_item.user.profile.picture %}
              <img src="{{ post_item.user.profile.picture.url }}" />
              {% else %}
              <img src="{% static 'images/icon.12.png' %}" />
            {% endif %}
            </div>
            <div class="post-content">
              <div class="post-user-info light-text">
               <!-- <h4>{% if post_item.user.profile.first_name %}{{ post_item.user.profile.first_name }}
            {{ post_item.user.profile.last_name }}{% endif %}</h4>
                <i style="color: #00adb3;" class="fas fa-check-circle"></i>-->
                
                <span>
               <a style="text-decoration: none; color: #008489" href="{% url 'profile' post_item.user.username %}" >@{{ post_item.user.username }}</a>
               
                </span>
              
              </div>
              

               <!--<p class="post-text light-text">Posted on:
                 <time datetime="2016-1-1">
                {{ post_item.posted }}
                </time>
                </p>-->
               <p class="post-text light-text">
                {% for tag in post_item.tags.all %}<a style="text-decoration: none; color: #00adb3;" href="{{ tag.get_absolute_url }}" >{{ tag }}</a>{% endfor %}
                </p>
              <!--<p class="post-text light-text">
                {{ post_item.caption }}
              </p>-->
              <div class="post-img">

             {% if post_item.content.first.file.name|slice:"-3:" == 'jpg' or post_item.content.first.file.name|slice:"-3:" == 'png' or post_item.content.first.file.name|slice:"-3:" == 'gif' %}

                <a href="{{ post_item.get_absolute_url }}">
                <img src=" {{ post_item.content.first.file.url }} " />
                </a>

              {% else %}  

              <a href="{{ post_item.get_absolute_url }}">
              <video width="480" height="300"  controls="controls" preload="metadata"  >
              <source  src="{{ post_item.content.first.file.url }}#t=0.5" type="video/mp4">
              </video>
              </a>

             {% endif %} 

              </div>

              <div class="post-icons">

                <a href="{% url 'postdetails' post_item.id %}"><i class="fas fa-comment-dots"></i></a>

                
                <a href="{% url 'postlike' post_item.id %}"><i class="fas fa-heart"> {{ post_item.likes }} likes</i></a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>



       

 <div style="max-height: 41rem" class="follow dark-mode-1">
  
  
          <h3 class="follow-heading light-text border">Random Suggestions</h3>
           {% for random_user in random_users %}
           
           {% if user != random_user %}
           
           
          <div class="follow-user border">
            <div class="follow-user-img">
              {% if random_user.profile.picture %}
              <img src="{{ random_user.profile.picture.url }}" />
              {% else %}
              <img src="{% static 'images/icon.12.png' %}" />
            {% endif %}
            </div>
            <div class="follow-user-info light-text">
              <h4>{% if random_user.profile.first_name %} {{ random_user.profile.first_name }}
            {{ random_user.profile.last_name }}{% endif %}</h4>
              <p> <a style="text-decoration: none; color: #008489" href="{% url 'profile' random_user.username %}" >@{{ random_user.username }}</a></p>
            </div>
            
          </div>
           {% endif %}
           
   
           
   
         
           {% endfor %}
        </div>







      </div>

             


{% endblock %}